@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
/*
Noto Sans KR Thin : 100;
Noto Sans KR Light : 300;
Noto Sans KR Regular : 400;
Noto Sans KR Medium : 500;
Noto Sans KR Bold : 700;
Noto Sans KR Black : 900;
*/
*{
	font-family: 'Noto Sans KR','맑은고딕',MalgunGothic,AppleSDGothicNeo-Medium,HelveticaNeue,sans-serif;
	box-sizing: border-box;
	word-break: keep-all;
}
*:focus {outline:none;-webkit-tap-highlight-color : rgba(0,0,0,0);}
.pc_only {display: block;}
.mo_only {display: none;}
.guide {width: 1080px; position: fixed;left: 50%; transform: translateX(-50%); right: 0; top: 0; bottom: 0;background-color: rgba(0,0,0,0.2); z-index: 999999;}
#skrollr-body {
	width: 100vw;
	height: 100vh;
}
.menu {position: fixed; top:0; width: 100%; height: 60px; background-color: rgba(0,0,0,0.5); z-index: 999; transition:top 0.3s;}
.menu .wrap {width: 1080px; height: 100%; display: block; margin: 0 auto; position: absolute; left: 50%; transform: translateX(-50%);}
.menu .wrap:after {clear: both; display: block; content: "";}
.menu .wrap .goto_TTHC,
.menu .wrap .goto_CTRG,
.menu .wrap .goto_DDFX,
.menu .wrap .goto_shop,
.menu .wrap .img_logo {padding: 0; background:none; border: none; font-size: 20px; color: #fff; cursor: pointer; font-weight: 300; opacity: 0.7; float: left; margin-left: 153px;}
.menu .wrap .goto_TTHC:hover,
.menu .wrap .goto_CTRG:hover,
.menu .wrap .goto_DDFX:hover,
.menu .wrap .goto_shop:hover {opacity: 1;}
.menu .wrap .img_logo {width: 148px; height: 29px; opacity: 1;margin:15px 0;}
.menu .wrap .img_logo img {width: 100%; display: block;margin:0;}
.menu .wrap .goto_TTHC,
.menu .wrap .goto_CTRG,
.menu .wrap .goto_DDFX,
.menu .wrap .goto_shop {width: 80px; text-align: center; padding: 13px 0;}

.nav {height: 200px; width: 8px; border-radius: 100px; background-color: rgba(0,0,0,0.5); position: fixed; top: 50%; right: 50px; transform: translateY(-50%); z-index: 999; border:1px solid rgba(255,255,255,0.5);}
.nav span {width: 4px; height: 10px;background-color: #fff; position: absolute; top: 2px;left: 50%; transform: translateX(-50%); border-radius: 100px;}

.btn_goto_shop {width: 64px; height: 64px; position: fixed; bottom: 5%; right: 3%; border: 2px solid #eee; border-radius: 100px; background-color: #fff; z-index: 999;
-webkit-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);
box-shadow: 4px 4px 8px 0px rgba(0,0,0,0.25);}
.btn_goto_shop:hover {border: 2px solid #666;}
.btn_goto_shop img {width: 32px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.bg_01,
.bg_02 {width: 100%; height: 100%; background-color: rgb(0,0,0); z-index: -2;}

.sec_01.wrap_txt {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_01.wrap_txt .headline {font-size: 180px; font-weight: 500; letter-spacing: -11px; opacity: 0; color: #fff; display: inline-block; position: absolute; left: 50%; transform: translate(-50%, -50%);}
.sec_01.wrap_txt .headline:nth-child(1) {left: calc(50% - 105px);}
.sec_01.wrap_txt .headline:nth-child(2) {left: calc(50% - -105px);}
.sec_01.wrap_txt .desc {font-weight: 300; position: absolute; top: calc(50% - -110px); left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 24px; line-height: 42px; letter-spacing: -1px; color: #fff; white-space: nowrap;}
.sec_01.wrap_img {position: fixed; bottom: 0px; left: 0; right: 0;}
.sec_01.wrap_img .hc_head,
.sec_01.wrap_img .hc_body {display: block; position: absolute; margin: 0 auto; left: 0; right: 0;}
.sec_01.wrap_img .hc_head {width: 250px; bottom: 314px; z-index: 1;}
.sec_01.wrap_img .hc_body {width: 250px; bottom: 0;}

.sec_02.wrap_txt {position: fixed; top: 0; left: 0; right: 0; bottom: 0;}
.sec_02.wrap_txt.second {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 720px;}
.sec_02.wrap_txt.large {top: calc(50% - 28px); bottom: auto; transform: translateY(-50%);}
.sec_02.wrap_txt .headline {font-size: 120px; letter-spacing: -5.5px; line-height: 135px; font-weight: 700; margin: 0 auto; text-align: center; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%);}
.sec_02.wrap_txt .headline.large {font-size: 190px; letter-spacing: -10px; transform: translateX(-50%);}
.sec_02.wrap_txt .headline.large:nth-child(1) {left:calc(50% - 252px);}
.sec_02.wrap_txt .headline.large:nth-child(2) {left:calc(50% - 88px);}
.sec_02.wrap_txt .headline.large:nth-child(3) {left:calc(50% - -76px);}
.sec_02.wrap_txt .headline.large:nth-child(4) {left:calc(50% - -240px);}
.sec_02.wrap_txt .desc {font-weight: 300; font-size: 22px; letter-spacing: -1px; line-height: 36px; word-break: keep-all; width: 650px; margin: 0 auto; position: absolute; left: 0; right: 0; top: 50%; transform: translateY(-50%); text-align: center; white-space: nowrap;}
.sec_02.wrap_img {width: 100vw; height: 100vh; background-color: #e8e8e8; position: fixed;}
.sec_02.wrap_img .img_tthc_1 {width: auto; height: 100%; position: absolute; top: 0; left: 0; right: 0; margin: 0 auto;}

.sec_03.wrap_txt {position: fixed; top: 140px; left: 0; right: 0;}
.sec_03.wrap_txt .headline {width: 640px; font-size: 120px; letter-spacing: -3px; line-height: 150px; font-weight: 700; margin: 0 auto; text-align: left; position: absolute; left: 0; right: 0; color: #fff;}
.sec_03.wrap_txt .headline:nth-child(2) {top: 150px;}
.sec_03.wrap_txt .headline span {height: 10px; width: 94px; background-color: #fff; display: inline-block; margin: 45px 0 45px 5px;}
.sec_03.img_shoot {width: 720px; display: block; position: fixed; left: 0; right: 0; margin: 0 auto;}
.sec_03.desc {font-weight: 300; font-size: 22px; letter-spacing: -1px; line-height: 36px; word-break: keep-all; width: 600px; margin: 0 auto; position: fixed; left: 0; right: 0; top: 40px; color: #fff;}
.sec_03.container_video {position: fixed; top: 50%; bottom: 0; left: 0; right: 0; background-color: #fff; width: 100%; height: 0%; transform: translateY(-50%); overflow: hidden; background-color: #000;}
.sec_03.container_video video {width: 1080px; height: auto; position: absolute; bottom: 0; left: 50%; transform: translateX(-50%);}

.sec_04.wrap_txt {width: 390px; height: 318px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_04.wrap_txt .headline:first-child {letter-spacing: 1.5px;}
.sec_04.wrap_txt .headline {font-size: 90px; line-height: 106px; letter-spacing: 6px; font-weight: 700; position: absolute; top: 0;}
.sec_04.images {position: fixed; left: 0; right: 0; top: 0;}
.sec_04.img_wrap {margin: 0 auto; position: absolute; left: 0; right: 0; top: 0; white-space: nowrap;}
.sec_04.img_wrap .tit {font-size: 34px; letter-spacing: 1px; font-weight: 700; margin-top: 24px;}
.sec_04.img_wrap .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px;}
.sec_04.img_wrap.filter_mesh {width: 270px; top: 0px;}
.sec_04.img_wrap.filter_hole {width: 250px; top: 428px;}
.sec_04.img_wrap.filter_body {width: 305px; top: 815px;}
.sec_04.img_wrap.filter_mesh img,
.sec_04.img_wrap.filter_hole img,
.sec_04.img_wrap.filter_body img {display: block; width: 100%;}

.sec_05.wrap_txt {position: fixed; left: 0; right: 0; top: 0; bottom: 0;}
.sec_05.wrap_txt .headline {letter-spacing: 1.5px; font-size: 90px; line-height: 106px; font-weight: 700; position: absolute; transform: translate(-50%, -50%);}
.sec_05.wrap_txt .headline:nth-child(1) {left:calc(-130px - -50%);}
.sec_05.wrap_txt .headline:nth-child(2) {left:calc(130px - -50%);}
.sec_05.wrap_txt .headline:nth-child(3) {left:calc(-130px - -50%);}
.sec_05.wrap_txt .headline:nth-child(4) {left:calc(130px - -50%);}
.sec_05.desc {width: 560px; font-size: 22px; letter-spacing: -1px; line-height: 36px; text-align: center; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_05.img_wrap img {width: 1460px; height: 420px; display: block; text-align: center; margin: 0 auto; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: -1;}
.sec_05.container_video {position: fixed; top: 50%; bottom: 0; left: 0; right: 0; background-color: #fff; width: 100%; height: 100%; transform: translateY(-50%); overflow: hidden;}
.sec_05.container_video video {width: 100vw; height: auto; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}

.sec_06.wrap_txt {text-align: center; position: fixed; top: 0; left: 0; right: 0;}
.sec_06.wrap_txt .tit {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700;}
.sec_06.wrap_txt .tit.long {font-weight: 500; letter-spacing: 0;}
.sec_06.wrap_txt .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px;}
.sec_06.wrap_colors {position: fixed; top: 0; left: 0; right: 0;}
.sec_06.wrap_colors .colors {width: 100%; height: 34vh; text-align: left; position: relative; overflow: hidden; border-top: 2px solid rgba(255,255,255,0.2);}
.sec_06.wrap_colors .colors .tit {font-family: sans-serif; font-size: 94px; line-height: 106px; letter-spacing: 1.5px; font-weight: 900; color: #fff; padding-top: 8vh; position: absolute; top: 50%; left: 38%; transform: translate(0%, -50%); z-index: 1;}
.sec_06.wrap_colors .colors .sub {font-size: 34px; font-weight: 500; color: #fff; position: absolute; top: calc(50% - -10px); left: 48%; transform: translate(0%, -50%); z-index: 1;}
.sec_06.wrap_colors .colors .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px; position: absolute; top: calc(50% - -50px); left: 48%; transform: translate(0%, -50%); z-index: 1; color: #fff; font-weight: 300;}
.sec_06.wrap_colors .colors .img_texture {width: 100%; display: block; position: absolute;left: 50%; top: 50%; transform: translate(-50%,-50%);}
.sec_06.wrap_colors .colors .ic_like {width: 72px; height: 72px; position: absolute; display: block; left: 55.5%; top: 43%; transform: translate(0%,-50%); z-index: 1;}
.sec_06.wrap_colors .colors.black {background-color:#060403;}
.sec_06.wrap_colors .colors.dbrown {background-color:#160D09;}
.sec_06.wrap_colors .colors.lbrown {background-color:#2B1B14;}
.sec_06.img_cartridge {width: 50%; display: block; position: fixed; left: 0; right: 0; top: 0; z-index: -1; margin: 0 auto;}
.sec_06.wrap_img {width: 100%; height: 690px; background-color: #b1b2b3; position: fixed; top: 0; left: 0; right: 0;}
.sec_06.wrap_img .img_filter_half {width: 960px; display: block; margin: 40px auto 0;}

.sec_07.wrap_img {position: fixed; top: 0p; left: 0; right: 0; width: 1080px; /*height: 100vh; border: 1px solid #000;*/ margin: 0 auto;}
.sec_07.wrap_img img {position: absolute; top: 0; right: 0;}
.sec_07.wrap_img img:nth-child(1) {width: 350px; top: 70px; right: 225px;}
.sec_07.wrap_img img:nth-child(2) {width: 335px; top: 242px; right: -42px;}
.sec_07.wrap_img img:nth-child(3) {width: 355px; top: 382px; right: 260px; z-index: -1;}
.sec_07.wrap_img img:nth-child(4) {width: 413px; top: 634px; right: -4px;}
.sec_07.wrap_txt {width: 1080px; position: fixed; top: 50%; left: 50%; margin: 0 auto; transform: translate(-50%, -50%);}
.sec_07.wrap_txt.octagon {width: auto; height: 37.5vw;}
.sec_07.wrap_txt.octagon .desc {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; color: #fff; white-space: nowrap; margin: 0;}
.sec_07.wrap_txt .tit {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700;}
.sec_07.wrap_txt .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px; margin-top: 40px;}
.sec_07.wrap_txt .headline {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; text-align: center; color: #fff; position: absolute; left: 50%; transform: translate(-50%, -50%);}
.sec_07.wrap_txt .headline:nth-child(2) {top: calc(50% - 53px); letter-spacing: 6px;}
.sec_07.wrap_txt .headline:nth-child(3) {top: calc(50% - -53px);}
.sec_07.img_octagon {width: 1080px; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); z-index: -1;}
.sec_07.container_video {position: fixed; top: 0; bottom: 0; left: 0; width: 35%; height: 100%; background-color: #000; border-right: 2px solid #000;}
.sec_07.overlay{width: 1080px; height: 1215px; background-color: #000; opacity: 0; position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);}

.sec_08.wrap_txt {position: fixed; left: 50%; right: 0; top: 0; transform: translateX(-50%);}
.sec_08.wrap_txt.long {left:65%;}
.sec_08.wrap_txt .headline {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; position: absolute;}
.sec_08.wrap_txt .headline span {font-size: 45px; vertical-align: bottom; margin-left: 10px;}
.sec_08.wrap_txt .desc {font-size: 30px; line-height: 48px; letter-spacing: -1px; }
.sec_08.wrap_txt .desc.caption {font-size: 22px; line-height: 36px; letter-spacing: -1px; color: #666; margin-top: 40px;}
.sec_08.img_chrome {width: 100%; position: fixed; left: 0; right: 0; top: 0; z-index: -1;}

.sec_09.img_gdesign {width: 203px; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_09.wrap_txt {position: fixed; left: 50%; top: 50%; transform: translate(-50%, -50%);}
.sec_09.wrap_txt .headline {font-size: 90px; line-height: 112px; letter-spacing: -4.5px; font-weight: 700;}
.sec_09.img_prise {width: 672px; display: block; position: fixed; top: 220%; left: 50%; transform: translate(-50%, -50%); z-index: -1;}
.sec_09.img_carousel {width: 4900px; display: block; position: fixed; top: 50%; left: calc(50% - -1000px); transform: translate(-50%, -50%); z-index: 10;}
.sec_09.img_carousel img {}

.sec_10.wrap_txt {position: fixed; left: 0; top: 50%; right: 0; transform: translateY(-50%);}
.sec_10.wrap_txt .roll {position: absolute; left: calc(50% - 320px); top: calc(50% - -318px); transform: translate(-50%, -50%);}
.sec_10.wrap_txt .roll span {font-size: 90px; line-height: 106px; letter-spacing: 6px; font-weight: 700; display: block;}
.sec_10.wrap_txt .headline {
	min-width: 644px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateX(84px);
	/*transform: translateX(calc(-50% - -170px));*/
	text-align: center;
	font-size: 90px;
	line-height: 106px;
	letter-spacing: 1.5px;
}
.sec_10.wrap_txt .headline span {font-weight: 700;}
.sec_10.wrap_img .caption {position: absolute; top: -24px; left: 50%; transform: translate(-50%, -50%);}
.sec_10.wrap_img.examples {width: 75%; height: 400px; margin: 0 auto; position: fixed; top: 50%; left: 0; right: 0; transform: translateY(-50%);/*background-color: #000;*/ padding: 20px 0; overflow: hidden;}
/*.sec_10.wrap_img.examples {width: 100%; height: 400px; margin: 0 auto; position: fixed; top: 24%; left: 0; right: 0; background-color: #000; padding: 20px 0;}*/
.sec_10.wrap_img.examples .item {width: 1270px; height: 360px; position: absolute; /*opacity: 0;*/ left: 50%; transform: translateX(-50%);}
.sec_10.wrap_img.examples .item img {display: block; position: absolute; top: 50%; transform: translate(-50%, -50%);}
.sec_10.wrap_img.examples .item img.before {float: left; height: 360px; left: calc(50% - 352px);}
.sec_10.wrap_img.examples .item img.after {float: right; height: 360px; left: calc(50% - -352px);}
.sec_10.wrap_img.examples .item img.ic_next {width: 72px; display: block; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_10.progress {width: 720px; height: 0; background-color: #D8D8D8; position: fixed; top: 50%; left: 0; right: 0; margin: 0 auto; transform: translateY(-50%);}
.sec_10.progress .dot {width: 7px; height: 7px; border-radius: 12px; background-color: #D8D8D8; position: absolute; bottom: -6px;}
.sec_10.progress .dot:nth-child(1) {left: 210px;}
.sec_10.progress .dot:nth-child(2) {left: 251px;}
.sec_10.progress .dot:nth-child(3) {left: 292px;}
.sec_10.progress .dot:nth-child(4) {left: 333px;}
.sec_10.progress .dot:nth-child(5) {left: 374px;}
.sec_10.progress .dot:nth-child(6) {left: 415px;}
.sec_10.progress .dot:nth-child(7) {left: 456px;}
.sec_10.progress .dot:nth-child(8) {right: 210px;}
.sec_10.progress .bar {width: 0%; height: 2px; background-color: #000; position: absolute; left: 0;}
/*
.sec_10.wrap_img.examples {width: 550px; height: 630px; margin: 0 auto; position: fixed; top: 24%; left: 0; right: 0;}
.sec_10.wrap_img.examples .item {height: 100%; position: absolute; opacity: 0;}
.sec_10.wrap_img.examples .item:after {clear: both; display: block; content: "";}
.sec_10.wrap_img.examples .item img {display: block; width: 245px;;}
.sec_10.wrap_img.examples .item img.before {float: left; margin-right: 30px;}
.sec_10.wrap_img.examples .item img.after {float: right; margin-left: 30px;}
*/
.sec_11.wrap_txt {position: fixed; left: 0; right: 0; top: 4%;}
.sec_11.wrap_txt .headline {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; display: block; text-align: center;}
.sec_11.wrap_img {
    position: fixed;
    left: 50%;
    right: 0;
    width: 540px;
    height: 540px;
    transform: translateX(-50%);
    /*border-top: 2px solid #000;*/
    /*border-bottom: 2px solid #000;*/
}
.sec_11.wrap_txt .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px; text-align: center;}
.sec_11.wrap_txt .desc span {font-weight: 700;}
.sec_11.bg_03 {width: 100%; height: 100%; background-color: #fff; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1;}

.sec_12.wrap_txt {position: fixed; left: 0; right: 0; top: 8%; z-index: 1; display: block;}
.sec_12.wrap_txt .headline {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 60px; letter-spacing: -1.5px; font-weight: 400; color: #fff;}
.sec_12.wrap_txt .headline span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; color: #fff;}
.sec_12.wrap_img {position: fixed; left: 50%; top: -80%; text-align: center; background-color: #006EA6; width: 100%; transform: translate(-50%, -50%);}
.sec_12.wrap_img img {width: 100%; display: block;}

.sec_13.wrap_txt {position: fixed; left: 0; right: 0; top: 10%; z-index: 1; display: block;}
.sec_13.wrap_txt .headline {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700;}
.sec_13.wrap_img {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_13.wrap_img img {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_13.wrap_img img:nth-child(1) {width: 323px; left:calc(50% - 300px);}
.sec_13.wrap_img img:nth-child(2) {width: 224px; left:calc(50% - -250px);}

.sec_14.wrap_txt {position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 1;}
.sec_14.wrap_txt .headline {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; color: #fff;}
.sec_14.wrap_txt .desc {min-width: 840px; text-align: center; color: #fff; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);font-size: 22px; line-height: 36px; letter-spacing: -1px;}
.sec_14.wrap_txt .desc.caption .tit {font-weight: 700; color: #008DFF;}
.sec_14.container_video {position: fixed; top: 100%; bottom: 0; left: 0; right: 0; width: 100%; height: auto; background-color: #000;}
.sec_14.bg_04 {width: 100%; height: 100%; background-color: #000; position: fixed; top: 0; bottom: 0; left: 0; right: 0; z-index: 1; opacity: 0;}

.sec_15.container {position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_15.wrap_txt {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_15.wrap_txt .headline {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700;}
.sec_15.wrap_txt .headline span {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.sec_15.img_everylike {width: 100vw; display: block; margin: 0 auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1;}
.sec_15.desc {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 22px; line-height: 36px; letter-spacing: -1px; text-align: center; white-space: nowrap;}

.sec_16.wrap_txt {position: fixed; top: 6%; left: 0; right: 0; width: 1080px; margin: 0 auto;}
.sec_16 .headline {position: absolute; top: 0; left: -10px; right: 0;font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700;}
.sec_16 .desc {position: absolute; top: 260px; left: 0; right: 0;font-size: 22px; line-height: 36px; letter-spacing: -1px;}
.sec_16.img_couple {width: 100%; position: fixed; top: 60%; left: 0; right: 0;}
/*.sec_16.img_gallery {width: 1120px; position: fixed; top: 0; left: 0; right: 0; margin: 0 auto;}*/
.sec_16.img_gallery {position: fixed; top: 0; left: 0; right: 0; margin: 0 auto;}
.sec_16.img_gallery > div {position: fixed; top: 0%; }
.sec_16.img_gallery > div:nth-child(1) {left: calc(50% - 560px); transform: translate(-50%, -50%);}
.sec_16.img_gallery > div:nth-child(2) {left: 50%; transform: translate(0, -50%);}
.sec_16.img_gallery > div:nth-child(3) {left: calc(50% - -200px); transform: translate(-50%, -50%);}
.sec_16.img_gallery > div > a {display: block; position: absolute; overflow: hidden; width: 360px; height: 360px;}
.sec_16.img_gallery > div > a > img {display: block; height: 100%; transform: translateX(-12.5%);}
.sec_16.img_gallery > div:nth-child(2) > a {transform: translateX(-50%); left: 50%;}


.sec_17.container_video {width: 1080px; position: fixed; top: calc(50% - 30px); left: 50%; transform: translate(-50%, -50%); border:1px solid #ccc;}
.sec_17.progress {width: 960px; position: fixed; bottom: 30px; left: 0; right: 0; margin: 0 auto;}
.sec_17.progress .tit {position: absolute; left: 50%; bottom: 0; transform: translateX(-50%);font-size: 22px; line-height: 36px; letter-spacing: -1px;}
.sec_17.progress .bar {width: 100%; height: 4px; background-color: #ddd; position: absolute; left: 50%; bottom: -10px; transform: translateX(-50%);}
.sec_17.progress .bar .now {width: 15%; height: 4px; background-color: #000; position: absolute; left: 0;}

.sec_18.buy {width: 1080px; position: fixed; top: 0; right: 0; left: 0; margin: 0 auto;}
.sec_18.buy>.headline {font-size: 90px; line-height: 106px; letter-spacing: 1.5px; font-weight: 700; text-align: center;}
.sec_18.buy .wrap_set:after {clear: both; content: ""; display: block;}
.sec_18.buy .wrap_set .headline {font-size: 42px; letter-spacing: -1px; font-weight: 700; margin: 120px 0 20px; text-align: center;}
.sec_18.buy .wrap_set.col1 .item {width: 100%;}
.sec_18.buy .wrap_set.col2 .item {width: 47.5%;}
.sec_18.buy .wrap_set.col3 .item {width: 30%;}
.sec_18.buy .wrap_set .item {border: 1px solid #000; margin: 0 auto; float: left;}
.sec_18.buy .wrap_set .item:first-child {margin-left: 0;}
.sec_18.buy .wrap_set .item img {width: 100%; display: block;}
.sec_18.buy .wrap_set .item .tit {font-size: 22px; line-height: 36px; letter-spacing: -1px; font-weight: 700; margin: 15px 0 0 30px;}
.sec_18.buy .wrap_set .item .price {margin: 0 0 15px 30px;}
.sec_18.buy .wrap_set .item .price .sale {font-size: 22px; line-height: 36px; letter-spacing: -1px; font-weight: 700; display: inline-block;}
.sec_18.buy .wrap_set .item .price .origin {font-size: 18px; letter-spacing: -1px; display: inline-block; text-decoration: line-through; color: #999; font-weight: 300;}

.img_detail {width: 1080px; display: block; margin: 0 auto; position: fixed;left: 0;right: 0;}

.sec_19 {position: fixed; left: 0; right: 0; top: 0;}
.sec_19 .desc {font-size: 22px; line-height: 36px; letter-spacing: -1px; text-align: center; margin: 120px auto}
.sec_19 .img_logo_wecandoit {width: 480px; display: block; margin: 0 auto 120px;}
.sec_19 .img_bottom {width: 1080px; display: block; margin: 0 auto;}
.sec_19 .img_history {width: 720px; display: block; margin: 0 auto;}

.footer {width: 100%; position: fixed; bottom: 0; left: 0; right: 0; background-color: #ECECEC;}
.footer img {width: 1080px; display: block; margin: 0 auto;}

/*@media (min-width:1920px) {

};*/

@media (max-width:640px) {
	.pc_only {display: none;}
	.mo_only {display: block;}

	.sec_01.wrap_txt .headline {font-size: 120px;}
	.sec_01.wrap_txt .headline:nth-child(1) {left: calc(50% - 75px);}
	.sec_01.wrap_txt .headline:nth-child(2) {left: calc(50% - -75px);}
	.sec_01.wrap_txt .desc {font-size: 24px; line-height: 38px;}
	
	.sec_02.wrap_txt.second {top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;}
	.sec_02.wrap_txt .headline {font-size: 60px; line-height: 74px; transform: translateY(15%);}
	.sec_02.wrap_txt.large {}
	.sec_02.wrap_txt .headline.large {font-size: 90px;width: fit-content; margin: 0;}
	.sec_02.wrap_txt .headline.large:nth-child(1) {left:calc(50% - 130px);}
	.sec_02.wrap_txt .headline.large:nth-child(2) {left:calc(50% - 46px);}
	.sec_02.wrap_txt .headline.large:nth-child(3) {left:calc(50% - -37px);}
	.sec_02.wrap_txt .headline.large:nth-child(4) {left:calc(50% - -120px);}
	.sec_02.wrap_txt .desc {font-size: 16px; line-height: 28px; width: 90%; white-space: normal;}
	.sec_02.wrap_img .img_tthc_1 {width: auto; height: 100%; left: 52%; transform: translateX(-50%);}

	.sec_03.wrap_txt {transform: translateY(40px);}
	.sec_03.wrap_txt .headline {width: 90%; font-size: 60px; line-height: 74px;}
	.sec_03.wrap_txt .headline:nth-child(2) {top: 74px;}
	.sec_03.wrap_txt .headline span {width: 48px; margin: 20px 0 20px 5px;}
	.sec_03.img_shoot {width: 90%; left: 50%; transform: translate(-50%, -50px);}
	.sec_03.desc {font-size: 16px; line-height: 28px; width: 90%;transform: translateY(40px);}
	.sec_03.container_video video {width: auto;}

	.sec_04.wrap_txt {width: 90%;}
	.sec_04.wrap_txt .headline {font-size: 60px; line-height: 74px;}
	.sec_04.wrap_txt .headline:nth-child(1) {transform: translateY(30px);}
	.sec_04.wrap_txt .headline:nth-child(2) {transform: translateY(0px);}
	.sec_04.wrap_txt .headline:nth-child(3) {transform: translateY(-30px);}
	.sec_04.img_wrap.filter_mesh,
	.sec_04.img_wrap.filter_hole,
	.sec_04.img_wrap.filter_body {width: 75%;}
	.sec_04.img_wrap .tit {font-size: 24px; line-height: 38px;}
	.sec_04.img_wrap .desc {font-size: 16px; line-height: 28px;}

	.sec_05.wrap_txt .headline {font-size: 60px; line-height: 74px; letter-spacing: -3px;}
	.sec_05.wrap_txt .headline:nth-child(1) {left: calc(50% - 80px); transform: translate(-50%, 0%);}
	.sec_05.wrap_txt .headline:nth-child(2) {left: calc(50% - -80px); transform: translate(-50%, 0%);}
	.sec_05.wrap_txt .headline:nth-child(3) {left: calc(50% - 80px);}
	.sec_05.wrap_txt .headline:nth-child(4) {left: calc(50% - -80px);}
	.sec_05.img_wrap img {width: 150%; height: auto;}
	.sec_05.desc {font-size: 16px; line-height: 28px; width: 90%;}
	.sec_05.container_video video {width: auto; height: 50%;}

	.sec_06.wrap_txt .tit {font-size: 60px; line-height: 74px;}
	.sec_06.wrap_txt .tit.long {font-size: 42px; line-height: 54px; letter-spacing: -1.5px;}
	.sec_06.wrap_txt .desc {font-size: 16px; line-height: 28px; width: 90%; margin: 24px auto 0;}
	.sec_06.wrap_colors .colors .img_texture {width: auto; height: auto;}
	.sec_06.wrap_colors .colors .ic_like {top: 30%; left: 75%;}
	.sec_06.wrap_colors .colors .tit {top: 45%; left: 5%;}
	.sec_06.wrap_colors .colors .sub {top: calc(50% - 20px); left: 50%; font-size: 24px;}
	.sec_06.wrap_colors .colors .desc {top: calc(50% - -24px); left: 50%; font-size: 16px; line-height: 24px;}
	.sec_06.img_cartridge {width: auto; height: 100%; left: 50%; transform: translate(-50%,-17%);}
	.sec_06.wrap_img {height: 410px;}
	.sec_06.wrap_img .img_filter_half {width: 150%; height: auto; transform: translateX(-18%);}
	.sec_07.wrap_img img:nth-child(1) {width: 90%; left: calc(50% - 0px); }
	.sec_07.wrap_img img:nth-child(2) {width: 90%; top: calc(50% - -380px); left: calc(50% - 0px)}
	.sec_07.wrap_img img:nth-child(3) {width: 90%; top: calc(50% - -780px); left: calc(50% - 0px)}
	.sec_07.wrap_img img:nth-child(4) {width: 90%; top: calc(50% - -1155px); left: calc(50% - 0px)}
	.sec_07.wrap_txt {width: 100%; right: 0;}
	.sec_07.wrap_txt .tit {font-size: 60px; line-height: 74px; width: 90%; margin: 0 auto;}
	.sec_07.wrap_txt .desc {font-size: 16px; line-height: 28px; width: 90%; margin: 32px auto 0;}
	.sec_07.container_video {width: 100%;}

	.sec_07.wrap_txt .headline {font-size: 60px; line-height: 74px; letter-spacing: -1.5px;}
	.sec_07.wrap_txt .headline:nth-child(2) {top: calc(50% - 140px);}
	.sec_07.wrap_txt .headline:nth-child(3) {top: calc(50% - 70px); letter-spacing: 2px;}
	.sec_07.overlay {height: 100vh;}
	.sec_07.img_octagon {width: auto; height: 100vh; left: 50%; transform: translate(-50%,-50%);}
	.sec_07.wrap_txt.octagon {width: 100%; height: auto;}
	.sec_07.wrap_txt.octagon .desc {transform: translate(-50%, -100%);}
	.sec_08.wrap_txt {transform: translateX(0%); left: 5%;}
	.sec_08.wrap_txt .headline {font-size: 60px; line-height: 74px;}
	.sec_08.wrap_txt .headline:nth-child(1) {transform: translateY(60px);}
	.sec_08.wrap_txt .headline:nth-child(2) {transform: translateY(30px);}
	.sec_08.wrap_txt .headline:nth-child(3) {transform: translateY(0px);}
	.sec_08.img_chrome {left: 45%; transform: translateX(-50%); width: 225%;}
	.sec_08.wrap_txt.long {width: 90%; margin: 0 auto; left: 0%;}
	.sec_08.wrap_txt .desc {font-size: 24px; line-height: 38px;}
	.sec_08.wrap_txt .desc.caption {font-size: 16px; line-height: 28px;}

	.sec_09.wrap_txt {width: 90%; text-align: center;}
	.sec_09.wrap_txt .headline {font-size: 60px; line-height: 74px;}
	.sec_09 .img_prise {width: 90%;}
	.sec_09.img_carousel {width: auto; height: 35%;}

	.sec_10.wrap_txt .headline,
	.sec_10.wrap_txt .roll span {font-size: 42px; line-height: 64px; letter-spacing: -1.5px;}
	.sec_10.wrap_img.examples {height: 540px;}
	.sec_10.wrap_img.examples .item {height: 500px;}
	.sec_10.wrap_img.examples .item img.before {left: 50%; top: 20%; height: 200px;}
	.sec_10.wrap_img.examples .item img.after {left: 50%; top: 80%; height: 200px;}
	.sec_10.wrap_img.examples .item img.ic_next {transform: translate(-50%, -50%) rotateZ(90deg);}
	.sec_10.progress {width: 90%;}
	.sec_10.progress .dot:nth-child(1) {left: 0;}
	.sec_10.progress .dot:nth-child(2) {left: 13%;}
	.sec_10.progress .dot:nth-child(3) {left: 27%;}
	.sec_10.progress .dot:nth-child(4) {left: 41%;}
	.sec_10.progress .dot:nth-child(5) {left: 55%;}
	.sec_10.progress .dot:nth-child(6) {left: 69%;}
	.sec_10.progress .dot:nth-child(7) {left: 83%;}
	.sec_10.progress .dot:nth-child(8) {right: 0;}

	.sec_12.wrap_txt {top: 15%;}
	.sec_11.wrap_txt .headline {font-size: 60px; line-height: 74px;}
	.sec_11.wrap_txt .desc {font-size: 16px; line-height: 28px; width: 90%; margin: 0 auto;}
	.sec_12.wrap_img {transform: translate(-50%, -50%) scale(2) !important;}

	.sec_13.wrap_txt .headline {font-size: 60px; line-height: 74px;}
	.sec_13.wrap_txt .headline:nth-child(1) {transform: translate(-50%, -50%);}
	.sec_13.wrap_txt .headline:nth-child(2) {transform: translate(-50%, -100%);}
	.sec_13.wrap_txt .headline:nth-child(3) {transform: translate(-50%, -150%);}
	.sec_13.wrap_txt .headline:nth-child(4) {transform: translate(-50%, -200%);}
	.sec_13.wrap_img img:nth-child(1) {width: 230px; left: calc(50% - 120px); transform: translate(-50%, -20%);}
	.sec_13.wrap_img img:nth-child(2) {width: 170px; left: calc(50% - -100px); transform: translate(-50%, -40%);}
	.sec_14.container_video {width: 110%; height: 100%;}
	.sec_14.wrap_txt .headline {font-size: 60px; line-height: 74px; text-align: center;}
	.sec_14.wrap_txt .desc {font-size: 16px; line-height: 28px; width: 90%; margin: 0 auto; min-width: auto;}

	.sec_15.img_everylike {transform: translate(-50%, -50%) scale(0.75);}
	.sec_15.desc {font-size: 16px; line-height: 28px; width: 90vw; margin: 0 auto; min-width: auto;}
	
	.sec_16.wrap_txt {width: 90%;}
	.sec_16 .headline {font-size: 42px; line-height: 64px; letter-spacing: -1.5px; left: -10px;}
	.sec_16 .headline:nth-child(1) {transform: translateY(50px);}
	.sec_16 .headline:nth-child(2) {}
	.sec_16 .desc {font-size: 16px; line-height: 28px; top: 180px;left: -5px;}
	.sec_16.img_couple {width: 250%; left: 55%; transform: translateX(-50%);}
	.sec_16.img_gallery {width: 115%; left: 50%; transform: translateX(-50%);}

	.sec_17.progress .tit {font-size: 16px; line-height: 28px;}
	.sec_17.container_video {width: 120%;}
	.sec_17.progress {width: 90%;}

	.sec_18.buy {width: 90%;}
	.sec_18.buy>.headline {font-size: 60px; line-height: 74px;}
	.sec_18.buy .wrap_set .headline {margin: 60px 0 16px;}
	.sec_18.buy .wrap_set .item:nth-child(2) {margin-top: 0;}
	.sec_18.buy .wrap_set .item:nth-child(n+3) {margin: 10px 0 0 0 !important;}
	.sec_18.buy .wrap_set.col2 .item {width: 100%;}
	.sec_18.buy .wrap_set.col3 .item {width: 100%;}
	.sec_18.buy .wrap_set.col3 .item {overflow: hidden;}
	.sec_18.buy .wrap_set.col3 .item img {margin-top: -60px;}
	.sec_18.buy .wrap_set.col3 .item:nth-child(4) img {margin-top: -20px;}
	.sec_18.buy .wrap_set .item .tit {margin: 8px 0 0 16px; font-size: 16px; line-height: 28px;}
	.sec_18.buy .wrap_set .item .price {margin: 0 0 8px 16px;} 
	.sec_18.buy .wrap_set .item .price .sale {font-size: 16px; line-height: 22px;}
	.sec_18.buy .wrap_set .item .price .origin {font-size: 12px; line-height: 22px;}
	
	.sec_19 {transform: translateY(400px);}
	.sec_19 .img_logo_wecandoit {width: 60%; margin-bottom: 60px;}
	.sec_19 .desc {font-size: 16px; line-height: 28px; margin: 60px auto;}
	.sec_19 .img_bottom {width: 200%; transform: translateX(-25%);}
	.sec_19 .img_history {width: 90%;}
};